@page
@model WebApp.Pages_SavedBoards.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SavedBoard</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SavedBoard.BoardHeight" class="control-label"></label>
                <input asp-for="SavedBoard.BoardHeight" class="form-control" />
                <span asp-validation-for="SavedBoard.BoardHeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SavedBoard.BoardWidth" class="control-label"></label>
                <input asp-for="SavedBoard.BoardWidth" class="form-control" />
                <span asp-validation-for="SavedBoard.BoardWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SavedBoard.Board" class="control-label"></label>
                <input asp-for="SavedBoard.Board" class="form-control" />
                <span asp-validation-for="SavedBoard.Board" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SavedBoard.ElementsInBoard" class="control-label"></label>
                <input asp-for="SavedBoard.ElementsInBoard" class="form-control" />
                <span asp-validation-for="SavedBoard.ElementsInBoard" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SavedBoard.GameDone" /> @Html.DisplayNameFor(model => model.SavedBoard.GameDone)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SavedBoard.FirstPlayerMove" /> @Html.DisplayNameFor(model => model.SavedBoard.FirstPlayerMove)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
