@page
@model WebApp.Pages_SavedBoards.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SavedBoard</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SavedBoard.BoardHeight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SavedBoard.BoardHeight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SavedBoard.BoardWidth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SavedBoard.BoardWidth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SavedBoard.Board)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SavedBoard.Board)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SavedBoard.ElementsInBoard)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SavedBoard.ElementsInBoard)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SavedBoard.GameDone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SavedBoard.GameDone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SavedBoard.FirstPlayerMove)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SavedBoard.FirstPlayerMove)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.SavedBoard.SavedBoardId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
