@page
@model WebApp.Pages_SavedBoards.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SavedBoard[0].BoardHeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SavedBoard[0].BoardWidth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SavedBoard[0].Board)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SavedBoard[0].ElementsInBoard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SavedBoard[0].GameDone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SavedBoard[0].FirstPlayerMove)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SavedBoard) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BoardHeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoardWidth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Board)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ElementsInBoard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameDone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstPlayerMove)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SavedBoardId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SavedBoardId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SavedBoardId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
