﻿@page
@model WebApp.Pages.Game.LoadGameModel


@{
    ViewData["Title"] = "LoadGame";
}
<h1>Load Game</h1>

<table class="table">
    <thead class="thead-light">
    <tr>
        <th>#</th>
        <th>Game Name</th>
    </tr>
    </thead>
    <tbody>
    
    @foreach (var item in Model.GetAllBoards())
    {
        <tr>
            <td>
                @Model.AddElementCounter()
            </td>
            <td>
                @item.Value
            </td>
            <td>
                <a asp-page="./PlayGame" asp-route-gameId="@item.Key">Load</a> |
                <a asp-page="./Delete" asp-route-id="@item.Key">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<div>
    <a asp-page="./MainMenu">Back to Main Menu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}