﻿@page
@model WebApp.Pages.Game.MainMenuModel

@{
    ViewData["Title"] = "Main Menu";
}
<div class="text-center">
    <h1>Main Menu</h1>
    <hr />
    <div class="row" >
        <div class="col-md-12">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input type="submit" asp-for="Choice.ButtonValue" value="Start New Game" class="btn btn-primary" />
                </div>
                <div class="form-group">
                    <input type="submit" asp-for="Choice.ButtonValue" value="Load Game" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


