﻿@page
@using ConsoleUI
@using GameEngine
@model WebApp.Pages.Game.PlayGameModel

<h3>Game Board</h3>

&nbsp;

<table class="table">
    <thead class="thead-light">
    <tr>
        @for (var col = 0; col < Model.Game.BoardWidth; col++)
        {
            <th>
                @col
            </th>
        }
    </tr>
    </thead>
    <tbody>
    @for (var row = 0; row < Model.Game.BoardHeight; row++)
    {
        <tr class="bg-primary">
            @for (var col = 0; col < Model.Game.BoardWidth; col++)
            {
                <td class="bg-primary">
                    @if (Connect4UI.GetSingleState(@Model.Game.GetBoard()[row, col]) == "Y")
                    {
                        <a asp-page="./PlayGame" asp-route-gameId="@Model.GameId" asp-route-col="@col" asp-route-row="@row" class="btn btn-warning btn-info">@Html.Raw(Connect4UI.GetSingleState(@Model.Game.GetBoard()[row, col]))</a>
                    } else if (Connect4UI.GetSingleState(@Model.Game.GetBoard()[row, col]) == "R")
                    {
                        <a asp-page="./PlayGame" asp-route-gameId="@Model.GameId" asp-route-col="@col" asp-route-row="@row" class="btn btn-danger btn-info">@Html.Raw(Connect4UI.GetSingleState(@Model.Game.GetBoard()[row, col]))</a>
                    }
                    else
                    {
                        <a asp-page="./PlayGame" asp-route-gameId="@Model.GameId" asp-route-col="@col" asp-route-row="@row" class="btn btn-light btn-info">@Html.Raw(Connect4UI.GetSingleState(@Model.Game.GetBoard()[row, col]))</a>
                    }
                </td>
            }
        </tr>
    }
    </tbody>
</table>
