﻿@page
@model WebApp.Pages.Game.StartNewGameModel


<h1>Start New Game</h1>

<h4>GameSettings</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-route-form="newGame">
            <div class="form-group">
                <label asp-for="GameSetting.BoardHeight" class="control-label"></label>
                <input asp-for="GameSetting.BoardHeight" class="form-control" />
                <span asp-validation-for="GameSetting.BoardHeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameSetting.BoardWidth" class="control-label"></label>
                <input asp-for="GameSetting.BoardWidth" class="form-control" />
                <span asp-validation-for="GameSetting.BoardWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" asp-for="Choice.ButtonValue" value="VS PC" class="btn btn-primary" />
                <input type="submit" asp-for="Choice.ButtonValue" value="VS Player" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./MainMenu">Back to Main Menu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
