﻿@page
@using ConsoleUI
@model WebApp.Pages.Game.WonGameModel

@if (!Model.Game.WinningState())
{
    <h3 class="alert alert-dark" role="alert">Game Over!</h3>
}
else
{
    if (Model.Game._firstPlayerMove)
    {
        <h3 class="alert alert-warning" role="alert">Yellow Player Won! Congratulations!</h3>
    }
    else
    {
        <h3 class="alert alert-danger" role="alert">Red Player Won! Congratulations!</h3>
    }
}

&nbsp;

<table class="table">
    <thead class="thead-light">
    <tr>
        @for (var col = 0; col < Model.Game.BoardWidth; col++)
        {
            <th>
                @col
            </th>
        }
    </tr>
    </thead>
    <tbody>
    @for (var row = 0; row < Model.Game.BoardHeight; row++)
    {
        <tr class="bg-primary">
            @for (var col = 0; col < Model.Game.BoardWidth; col++)
            {
                <td class="bg-primary">
                    @if (Connect4UI.GetSingleState(@Model.Game.GetBoard()[row, col]) == "Y")
                    {
                        <a asp-page="./PlayGame" asp-route-gameId="@Model.GameId" asp-route-col="@col" asp-route-row="@row" class="btn btn-warning btn-lg disabled" aria-disabled="True">@Html.Raw(Connect4UI.GetSingleState(@Model.Game.GetBoard()[row, col]))</a>
                    } else if (Connect4UI.GetSingleState(@Model.Game.GetBoard()[row, col]) == "R")
                    {
                        <a asp-page="./PlayGame" asp-route-gameId="@Model.GameId" asp-route-col="@col" asp-route-row="@row" class="btn btn-danger btn-lg disabled" aria-disabled="True">@Html.Raw(Connect4UI.GetSingleState(@Model.Game.GetBoard()[row, col]))</a>
                    }
                    else
                    {
                        <a asp-page="./PlayGame" asp-route-gameId="@Model.GameId" asp-route-col="@col" asp-route-row="@row" class="btn btn-light btn-lg disabled" aria-disabled="True">@Html.Raw(Connect4UI.GetSingleState(@Model.Game.GetBoard()[row, col]))</a>
                    }
                </td>
            }
        </tr>
    }
    </tbody>
</table>

<div>
    <a asp-page="./MainMenu">Back to Main Menu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}