@page
@model WebApp.Pages_GameSettings.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GameSetting[0].BoardHeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameSetting[0].BoardWidth)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.GameSetting) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BoardHeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoardWidth)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.GameSettingId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.GameSettingId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.GameSettingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
