﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Connect4</h1>
    &nbsp;
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <input type="submit" asp-for="Choice.ButtonValue" value="Connect4 Main Menu" class="btn btn-primary btn-lg" />
        </div>
    </form>
    <p class="footer">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
